{{! Your main layout will go here }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StreamScape</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">StreamScape</a>
        {{#if logged_in}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <a class="waves-effect waves-light btn" href="/logout">Log Out</a>
        </ul>
        </a>
        {{else}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <a class="waves-effect waves-light btn" href="/login">Log In/Sign Up</a>
        </ul>
        {{/if}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <a class="waves-effect waves-light btn" href="/about">About Us</a>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>

  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>