/* any css stylesheets can go in this folder */ 
body {  
  background-image: url("/images/HugeMonitor.jpg");
  background-size: cover;
  background-position: center;
  background-color: #008b8b;
  align-items: center;
  background-attachment: local;
}

#container {
  width: 150px;
  height: 150px;
  overflow:visible;
  background: transparent !important;
}

#preloader{
  overflow:visible;
}

#backer {
  fill: none;
}

.percentTxt{
      color: rgb(255, 255, 255); 
}
    #emial-login{
      color: black;
    }
